In [5]:
import pandas as pd
import numpy as np
df =pd.read_csv("Match - Sheet1.csv")
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [8]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [9]:
df.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000
mean,148.317570,1.480555,10.099354,3.624145,0.000473,0.039893,0.005591,0.022806,0.005046,0.000072,1.211479,0.073408,1.284887
std,84.899858,0.501487,5.666241,1.813831,0.021745,0.268148,0.120195,0.202363,0.079619,0.018931,1.590157,0.361633,1.579107
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,75.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,150.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,221.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,295.000000,4.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,6.000000,5.000000,7.000000

In [10]:
df.isnull().sum()

match_id                0
inning                  0
batting_team            0
bowling_team            0
over                    0
ball                    0
batsman                 0
non_striker             0
bowler                  0
is_super_over           0
wide_runs               0
bye_runs                0
legbye_runs             0
noball_runs             0
penalty_runs            0
batsman_runs            0
extra_runs              0
total_runs              0
player_dismissed    66245
dismissal_kind      66245
fielder             67232
dtype: int64

In [11]:
df['dismissal_kind'].value_counts()

dismissal_kind
caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
retired hurt            4
hit wicket              4
Name: count, dtype: int64

In [12]:
df['extra_runs'].sum()

np.int64(5121)

In [13]:
#Total runs of a batsman in this league---> overall batsman_runs
df['batsman_runs'].sum()

np.int64(84514)

In [14]:
#Total number of wide runs.
df['wide_runs'].sum()

np.int64(2783)

In [15]:
#Total runs of Virat Kohli
#find how his name is written first
df['batsman_runs'].loc[(df['batsman']=='V Kohli')].sum()

np.int64(1428)

In [16]:
#calculate total extra_runs given by a particular bowler (TS Mills)
df['extra_runs'].loc[(df['bowler']=='TS Mills')].sum()
#wide_runs given by TS Mills

np.int64(13)

In [17]:
#catches taken by Mandeep singh
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [18]:
df.loc[(df['dismissal_kind']=='caught') & (df['fielder']=='Mandeep Singh')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
2728,12,2,Mumbai Indians,Royal Challengers Bangalore,3,3,MJ McClenaghan,RG Sharma,S Badree,0,...,0,0,0,0,0,0,0,MJ McClenaghan,caught,Mandeep Singh
3922,17,1,Rising Pune Supergiant,Royal Challengers Bangalore,17,5,DT Christian,BA Stokes,S Aravind,0,...,0,0,0,0,0,0,0,DT Christian,caught,Mandeep Singh
4691,20,2,Gujarat Lions,Royal Challengers Bangalore,2,2,DR Smith,BB McCullum,YS Chahal,0,...,0,0,0,0,0,0,0,DR Smith,caught,Mandeep Singh
6355,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,17,3,CR Woakes,SA Yadav,TS Mills,0,...,0,0,0,0,0,0,0,CR Woakes,caught,Mandeep Singh
9751,42,1,Kings XI Punjab,Royal Challengers Bangalore,7,6,SE Marsh,M Vohra,P Negi,0,...,0,0,0,0,0,0,0,SE Marsh,caught,Mandeep Singh
69340,293,2,Delhi Daredevils,Kings XI Punjab,15,2,IK Pathan,JR Hopes,PC Valthaty,0,...,0,0,0,0,0,0,0,IK Pathan,caught,Mandeep Singh

In [19]:
#catches taken by Mandeep singh
len(df.loc[(df['dismissal_kind']=='caught') & (df['fielder']=='Mandeep Singh')])

7

In [20]:
#How many times DA Warner was dismissed by A Choudhary
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [21]:
len(df.loc[(df['player_dismissed']=='DA Warner') & (df['bowler']=='A Choudhary')])

1

In [22]:
#find number of stumpouts done by MS Dhoni
df['dismissal_kind'].value_counts()

dismissal_kind
caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
retired hurt            4
hit wicket              4
Name: count, dtype: int64

In [23]:
len(df.loc[(df['dismissal_kind']=='stumped') & (df['fielder']=='MS Dhoni')])

17

In [24]:
#find the batsman stumped out by MS Dhoni
df['batsman'].loc[(df['dismissal_kind']=='stumped') & (df['fielder']=='MS Dhoni')].value_counts()

batsman
AT Rayudu         2
MD Mishra         2
BB McCullum       1
RV Uthappa        1
DA Warner         1
AB de Villiers    1
CJ Anderson       1
AS Raut           1
GC Smith          1
CH Gayle          1
DJ Hussey         1
WP Saha           1
MS Bisla          1
EJG Morgan        1
MK Tiwary         1
Name: count, dtype: int64

In [25]:
#how many times S Dhawan got out by lbw.
df.loc[(df['dismissal_kind']=='lbw') & (df['player_dismissed']=='S Dhawan')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
31390,135,2,Mumbai Indians,Kings XI Punjab,5,1,S Dhawan,JP Duminy,YA Abdulla,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN
46812,199,1,Mumbai Indians,Deccan Chargers,4,3,S Dhawan,SR Tendulkar,Jaskaran Singh,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN

In [26]:
# loc[(df['dismissal_kind']=='lbw') & (df['player_dismissed']=='S Dhawan')]

NameError: name 'loc' is not defined

In [27]:
df['fielder'].loc[(df['dismissal_kind']=='caught') & (df['batsman']=='S Dhawan')].value_counts()

fielder
BB McCullum        2
WP Saha            2
RV Uthappa         2
MS Dhoni           2
AD Mathews         1
Sachin Baby        1
RA Tripathi        1
GJ Maxwell         1
SS Iyer            1
C de Grandhomme    1
JP Faulkner        1
KC Sangakkara      1
CK Kapugedera      1
R Dravid           1
PP Chawla          1
SD Chitnis         1
RA Jadeja          1
SC Ganguly         1
SK Raina           1
SE Marsh           1
AS Raut            1
DL Vettori         1
Sunny Singh        1
RV Gomez           1
AM Salvi           1
JD Ryder           1
Name: count, dtype: int64

In [28]:
#total number of sixes hit by MS Dhoni ---> batsman_runs==6
len(df.loc[(df['batsman_runs']==6) & (df['batsman']=='MS Dhoni')])

62

In [29]:
#total runs scored by MS Dhoni buy hitting sixes.
df['batsman_runs'].loc[(df['batsman_runs']==6) & (df['batsman']=='MS Dhoni')].sum()

np.int64(372)

In [30]:
#find all the records of super over
df.loc[df['is_super_over']==1]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
8092,34,3,Mumbai Indians,Gujarat Lions,1,1,JC Buttler,KA Pollard,JP Faulkner,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8093,34,3,Mumbai Indians,Gujarat Lions,1,2,KA Pollard,JC Buttler,JP Faulkner,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
8094,34,3,Mumbai Indians,Gujarat Lions,1,3,KA Pollard,JC Buttler,JP Faulkner,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
8095,34,3,Mumbai Indians,Gujarat Lions,1,4,KA Pollard,JC Buttler,JP Faulkner,1,...,0,0,0,0,0,0,0,KA Pollard,caught,AJ Finch
8096,34,3,Mumbai Indians,Gujarat Lions,1,5,JC Buttler,RG Sharma,JP Faulkner,1,...,0,0,0,0,0,0,0,JC Buttler,caught,Ishan Kishan
8097,34,4,Gujarat Lions,Mumbai Indians,1,1,AJ Finch,BB McCullum,JJ Bumrah,1,...,0,0,1,0,0,1,1,NaN,NaN,NaN
8098,34,4,Gujarat Lions,Mumbai Indians,1,2,AJ Finch,BB McCullum,JJ Bumrah,1,...,0,1,0,0,0,1,1,NaN,NaN,NaN
8099,34,4,Gujarat Lions,Mumbai Indians,1,3,BB McCullum,AJ Finch,JJ Bumrah,1,...,0,0,0,0,0,1,1,NaN,NaN,NaN
8100,34,4,Gujarat Lions,Mumbai Indians,1,4,BB McCullum,AJ Finch,JJ Bumrah,1,...,0,0,0,0,0,0,0,NaN,NaN,NaN
8101,34,4,Gujarat Lions,Mumbai Indians,1,5,BB McCullum,AJ Finch,JJ Bumrah,1,...,1,0,0,0,0,1,1,NaN,NaN,NaN
8102,34,4,Gujarat Lions,Mumbai Indians,1,6,AJ Finch,BB McCullum,JJ Bumrah,1,...,0,0,0,0,0,0,0,NaN,NaN,NaN
8103,34,4,Gujarat Lions,Mumbai Indians,1,7,AJ Finch,BB McCullum,JJ Bumrah,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8104,34,4,Gujarat Lions,Mumbai Indians,1,8,BB McCullum,AJ Finch,JJ Bumrah,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29279,126,3,Kolkata Knight Riders,Rajasthan Royals,1,1,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29280,126,3,Kolkata Knight Riders,Rajasthan Royals,1,2,BB McCullum,CH Gayle,Kamran Khan,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29281,126,3,Kolkata Knight Riders,Rajasthan Royals,1,3,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,0,1,1,NaN,NaN,NaN
29282,126,3,Kolkata Knight Riders,Rajasthan Royals,1,4,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
29283,126,3,Kolkata Knight Riders,Rajasthan Royals,1,5,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
29284,126,3,Kolkata Knight Riders,Rajasthan Royals,1,6,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
29285,126,3,Kolkata Knight Riders,Rajasthan Royals,1,7,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,0,0,0,CH Gayle,caught,RJ Quiney
29286,126,4,Rajasthan Royals,Kolkata Knight Riders,1,1,YK Pathan,AD Mascarenhas,BAW Mendis,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
29287,126,4,Rajasthan Royals,Kolkata Knight Riders,1,2,YK Pathan,AD Mascarenhas,BAW Mendis,1,...,0,0,0,0,2,0,2,NaN,NaN,NaN
29288,126,4,Rajasthan Royals,Kolkata Knight Riders,1,3,YK Pathan,AD Mascarenhas,BAW Mendis,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
29289,126,4,Rajasthan Royals,Kolkata Knight Riders,1,4,YK Pathan,AD Mascarenhas,BAW Mendis,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
44819,190,3,Chennai Super Kings,Kings XI Punjab,1,1,JA Morkel,ML Hayden,J Theron,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
44820,190,3,Chennai Super Kings,Kings XI Punjab,1,2,ML Hayden,JA Morkel,J Theron,1,...,0,0,0,0,0,0,0,ML Hayden,bowled,NaN
44821,190,3,Chennai Super Kings,Kings XI Punjab,1,3,SK Raina,JA Morkel,J Theron,1,...,0,0,0,0,2,0,2,NaN,NaN,NaN
44822,190,3,Chennai Super Kings,Kings XI Punjab,1,4,SK Raina,JA Morkel,J Theron,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
44823,190,3,Chennai Super Kings,Kings XI Punjab,1,5,SK Raina,JA Morkel,J Theron,1,...,0,0,0,0,0,0,0,SK Raina,caught,DPMD Jayawardene
44824,190,4,Kings XI Punjab,Chennai Super Kings,1,1,DPMD Jayawardene,Yuvraj Singh,M Muralitharan,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
44825,190,4,Kings XI Punjab,Chennai Super Kings,1,2,DPMD Jayawardene,Yuvraj Singh,M Muralitharan,1,...,0,0,0,0,0,0,0,DPMD Jayawardene,caught,M Vijay
44826,190,4,Kings XI Punjab,Chennai Super Kings,1,3,Yuvraj Singh,IK Pathan,M Muralitharan,1,...,0,0,0,0,0,0,0,NaN,NaN,NaN
44827,190,4,Kings XI Punjab,Chennai Super Kings,1,4,Yuvraj Singh,IK Pathan,M Muralitharan,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN